# NODE7 Core ACE permissions
add_ace group.admin node7admin.join allow
add_ace group.admin command.tp allow
add_ace group.admin command.tpm allow
add_ace group.admin command.noclip allow
add_ace group.admin command.addpermission allow
add_ace group.admin command.removepermission allow
add_ace group.admin command.openserver allow
add_ace group.admin command.closeserver allow
add_ace group.admin command.vehicle allow
add_ace group.admin command.dv allow
add_ace group.admin command.dvall allow
add_ace group.admin command.dvp allow
add_ace group.admin command.dvo allow
add_ace group.admin command.givemoney allow
add_ace group.admin command.setmoney allow
add_ace group.admin command.setjob allow
add_ace group.admin command.setgang allow
